@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: rgb(60, 136, 72);
  --secondary-color: rgb(90, 228, 111);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Drop down */
@keyframes drop-down {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-drop-down {
  animation: drop-down .1s ease-out forwards;
}

/* Fade in */
@keyframes fade-in {
  from {
    transform: translateX(-30%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in .1s ease-out forwards;
}

/* Fade out */
@keyframes fade-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-30%);
    opacity: 0;
  }
}

.animate-fade-out {
  animation: fade-out .2s ease-in-out forwards;
}

/* Slick dots */
.slick-dots li button:before {
  font-size: 15px;
  margin-top: 30px;
}
.slick-dots li.slick-active button:before {
  color: var(--primary-color);
}
.slick-next, .slick-prev {
  z-index: 10;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.slick-prev:before, .slick-next:before {
  color: #d9d9d9;
  opacity: 1 !important;
  scale: 1.5;
  transition-duration: .1s;
}
.slick-prev:hover::before, .slick-next:hover::before {
  scale: 2;
}
.slick-next {
  right: 0;
}
.slick-prev {
  left: 0;
}

body {
  color: black;
  background: white;
}